.active {
  background-color: rgba(0, 0, 0, 0.3);
}

#Home {
  margin-top: 15vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}
